.cart{
    background-color:#e6b266 ;
    padding: 25px;
    position: sticky;
    top: 0;
    
}
.cart p{
    font-size: 17px;
}
.btn-clear{
    width: 95%;
    margin: 10px auto;
    background-color: rgb(228, 96, 96);
    border-radius: 5px;
}