.review-item{
    width: 571px;
    
    border: 1px solid gray;
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 8px;
    display: flex;
    align-items: center;
}
.review-item img{
    width: 91px;
    height: 91px;
    border-radius: 6px;
}
.title{
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
}
.review-details p{
    margin: 0 15px;
}
.review-details{
    flex-grow: 1;
}
.orange-text{
    color: #ff9900
}





.btn-delete{
    height: 55px;
    width: 55px;
    background-color: rgb(226, 85, 85);
    border-radius: 50%;
    border: none;
}
.icon-del{
    font-size: 23px;
}